<div class="container ">

    <h3 class="d-flex justify-content-center"><strong>Portal KEEPS </strong></h3>

    <nav class="navbar navbar-expand-sm bg-light navbar-dark d-flex justify-content-around ">
    <ul class="navbar-nav ">
        <li class="nav-item">
            <button routerLink="students" class="m-1 btn btn-light btn-outline-primary" Button>Estudantes</button>
          </li>
    
          <li class="nav-item">
            <button routerLink="courses" class="m-1 btn btn-light btn-outline-primary" Button>Cursos</button>
          </li>
    
          <li class="nav-item">
            <button routerLink="course-categories" class="m-1 btn btn-light btn-outline-primary" Button>Categoria dos Curosos</button>
          </li>
    
          <li class="nav-item">
            <button routerLink="enrollments" class="m-1 btn btn-light btn-outline-primary" Button>Matricula</button>
          </li>
    </ul>
    </nav>

<router-outlet></router-outlet>

</div>