<div class="form-froup row">
    <div class="col-sm-12">

        <!--Nome-->
        <mat-form-field class="example-form-field">
            <mat-label>Nome</mat-label>
            <input matInput type="text" [(ngModel)]="EstudanteName" required>
            <button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
              <mat-icon>close</mat-icon>
            </button>
        </mat-form-field>

        <!--E-mail-->
        <form class="example-form">
            <mat-form-field class="example-full-width">
              <mat-label>Email</mat-label>
              <input type="email" matInput [formControl]="emailFormControl" [errorStateMatcher]="matcher"
                     placeholder="Ex. pat@example.com" [(ngModel)]="EstudanteEmail">
              <mat-hint>Os erros aparecem instantaneamente!</mat-hint>
              <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                Entre com um e-mail válido.
              </mat-error>
              <mat-error *ngIf="emailFormControl.hasError('required')">
                Um E-mail é <strong>necessário</strong>
              </mat-error>
            </mat-form-field>
          </form>

          <!--Telefone-->
          <form [formGroup]="myForm" (ngSubmit)="submitPhone()">
            <div class="form-width">
                <mat-form-field appearance="outline" >
                    <ngx-mat-intl-tel-input formControlName="phone"
                    [(ngModel)]="EstudantePhone"
                    [preferredCountries]="['br', 'us']"
                    [enablePlaceholder]="true"
                    [enableSearch]="true" name="phone" #phone  >
                </ngx-mat-intl-tel-input>
                <mat-icon matSuffix>phone</mat-icon>
                <mat-hint>ex : {{phone.selectedCountry.placeHolder}}</mat-hint>
                </mat-form-field> 
            </div>
          </form>

        <!--TAG-->
        <mat-form-field class="example-chip-list">
          <mat-label>Tags</mat-label>
          <mat-chip-list #chipList aria-label="Fruit selection">
            <mat-chip *ngFor="let fruit of fruits" [selectable]="selectable"
                     [removable]="removable" (removed)="remove(fruit)">
              {{fruit.name}}
              <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
            </mat-chip>
            <input placeholder="Nova Tag.."
                   [matChipInputFor]="chipList"
                   [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                   [matChipInputAddOnBlur]="addOnBlur"
                   (matChipInputTokenEnd)="add($event)">
          </mat-chip-list>
        </mat-form-field>

           

        <!--Fuso-->
        <mat-form-field class="example-form-field">
          <mat-label>Fuso Horario</mat-label>
          <input matInput type="text" [(ngModel)]="EstudanteDate" required>
        </mat-form-field>
        
      <div class="modal-footer">
        <button mat-raised-button (click)="addEstudante()" *ngIf="dep.EstudanteId==0" class="btn btn-primary">Adicionar</button>
        <button mat-raised-button (click)="updateEstudante()" *ngIf="dep.EstudanteId!=0" class="btn btn-primary">Update</button>
      </div>

      
  </div>
</div>


