  .example-form-field {
    width: 100%;
  }
  .example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }

  p {
    font-family: Lato;
  }
  
  .country-selector{
    opacity:1 !important;
    bottom:8px !important;
  }
  
  input:not(.country-search){
    bottom: 3px;
    left: 10px;
  }
  
  .country-list-button{
    font-size: 0.8rem!important;
  }
  
  .mat-menu-content:not(:empty){
    max-height:300px;
  }
   
  .mat-form-field{
      width:100%;
  }
  
  .m-t-10{
    margin-top:10px;
  }
  
  .error{
    color:red;
  }


  .example-chip-list {
    width: 100%;
  }
  